<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>caipu</key>
		<array>
			<dict>
				<key>tags</key>
				<array>
					<dict>
						<key>data</key>
						<array>
							<dict>
								<key>name</key>
								<string>猪肉</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%2582%2589&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>排骨</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E6%258E%2592%25E9%25AA%25A8&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪蹄</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%25B9%2584&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪肚</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%2582%259A&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>五花肉</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E4%25BA%2594%25E8%258A%25B1%25E8%2582%2589&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪肝</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%2582%259D&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪血</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%25A1%2580&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪腰</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%2585%25B0&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪皮</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E7%259A%25AE&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪肘</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%2582%2598&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪耳朵</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%2580%25B3%25E6%259C%25B5&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪心</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E5%25BF%2583&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪肺</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%2582%25BA&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪大肠</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E5%25A4%25A7%25E8%2582%25A0&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪大骨头</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E5%25A4%25A7%25E9%25AA%25A8%25E5%25A4%25B4&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪小排</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E5%25B0%258F%25E6%258E%2592&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪里脊肉</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E9%2587%258C%25E8%2584%258A%25E8%2582%2589&amp;page=1</string>
							</dict>
							<dict>
								<key>name</key>
								<string>猪脑</string>
								<key>url</key>
								<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%258C%25AA%25E8%2584%2591&amp;page=1</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>res</key>
	<integer>2</integer>
</dict>
</plist>
