<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/de/7b/162782_0adf80.jpg</string>
			<key>title</key>
			<string>家常菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E5%25AE%25B6%25E5%25B8%25B8%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/20/f7/325408_b12951.jpg</string>
			<key>title</key>
			<string>私房菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%25A7%2581%25E6%2588%25BF%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/58/fa/64088_bfe907.jpg</string>
			<key>title</key>
			<string>快手菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E4%25B8%258B%25E9%25A5%25AD%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/58/fa/64088_bfe907.jpg</string>
			<key>title</key>
			<string>热菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%2583%25AD%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/ff/51/217599_f4d433.jpg</string>
			<key>title</key>
			<string>凉菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E5%2587%2589%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/ab/d4/251051_cbbdf4.jpg</string>
			<key>title</key>
			<string>素菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%25B4%25A0%25E8%258F%259C&amp;page=1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/5d/cc/52317_77fc0e.jpg</string>
			<key>title</key>
			<string>川菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E5%25B7%259D%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/e8/94/234728_226424.jpg</string>
			<key>title</key>
			<string>湘菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E6%25B9%2598%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/12/d9/252178_71c055.jpg</string>
			<key>title</key>
			<string>粤菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%25B2%25A4%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/fd/71/160253_a75146.jpg</string>
			<key>title</key>
			<string>闽菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E9%2597%25BD%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/ea/78/162026_4a5b81.jpg</string>
			<key>title</key>
			<string>浙菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E6%25B5%2599%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/b3/c5/443827_87f425.jpg</string>
			<key>title</key>
			<string>鲁菜</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E9%25B2%2581%25E8%258F%259C&amp;page=1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/9b/8e/888475_212027.jpg</string>
			<key>title</key>
			<string>北京小吃</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E4%25BA%25AC%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/7c/73/881532_85b955.jpg</string>
			<key>title</key>
			<string>台湾小吃</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E5%258F%25B0%25E6%25B9%25BE%25E7%25BE%258E%25E9%25A3%259F&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/bf/44/869567_5df12a.jpg</string>
			<key>title</key>
			<string>香港小吃</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E9%25A6%2599%25E6%25B8%25AF%25E7%25BE%258E%25E9%25A3%259F&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/16/ee/847382_2c054b.jpg</string>
			<key>title</key>
			<string>广东小吃</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E4%25BA%2591%25E5%258D%2597%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/ae/82/819886_19125b.jpg</string>
			<key>title</key>
			<string>成都小吃</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E5%2586%2580%25E8%258F%259C&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/0a/28/796682_f6e84d.jpg</string>
			<key>title</key>
			<string>陕西小吃</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E6%2599%258B%25E8%258F%259C&amp;page=1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/cd/bb/900045_3cf6f3.jpg</string>
			<key>title</key>
			<string>炒饭</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E7%2582%2592%25E9%25A5%25AD&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/e8/c9/903656_12b3b0.jpg</string>
			<key>title</key>
			<string>粥</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E6%25B1%25A4%25E5%259C%2586&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/53/c9/903507_024e69.jpg</string>
			<key>title</key>
			<string>面食</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E9%259D%25A2%25E6%259D%25A1&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe0.hoto.cn/pic/recipe/g_230/e0/c8/903392_c0b47f.jpg</string>
			<key>title</key>
			<string>粉</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E9%25A5%25AD%25E5%259B%25A2&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/fd/71/160253_a75146.jpg</string>
			<key>title</key>
			<string>饼</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E9%25A5%25BC&amp;page=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://recipe1.hoto.cn/pic/recipe/g_230/f9/62/287481_141357.jpg</string>
			<key>title</key>
			<string>寿司</string>
			<key>url</key>
			<string>http://api.xiangha.com/so5/getSoData/?type=caipu&amp;s=%25E4%25B8%2589%25E6%2598%258E%25E6%25B2%25BB&amp;page=1</string>
		</dict>
	</array>
</array>
</plist>
