<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>肉类</string>
		<key>collection</key>
		<array>
			<string>猪肉</string>
			<string>排骨</string>
			<string>五花肉</string>
			<string>牛肉</string>
			<string>牛排</string>
			<string>羊肉</string>
			<string>羊肝</string>
			<string>鸡肉</string>
			<string>鸡翅</string>
			<string>鸡腿</string>
			<string>腊肉</string>
			<string>火腿</string>
			<string>雪蛤</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>鱼类</string>
		<key>collection</key>
		<array>
			<string>草鱼</string>
			<string>鲤鱼</string>
			<string>鲫鱼</string>
			<string>泥鳅</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>豆类</string>
		<key>collection</key>
		<array>
			<string>毛豆</string>
			<string>青豆</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>果品类</string>
		<key>collection</key>
		<array>
			<string>苹果</string>
			<string>香蕉</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>五谷杂粮</string>
		<key>collection</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>药食</string>
		<key>collection</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>器具</string>
		<key>collection</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>场合</string>
		<key>collection</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>烹饪方式</string>
		<key>collection</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>口味</string>
		<key>collection</key>
		<array/>
	</dict>
</array>
</plist>
